@{
    ViewBag.Title = "借书编辑";
}
@using LibrarySystem.Admin.Common;
@model LibrarySystem.Admin.Models.BookOrderVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        借书编辑 <small>添加、修改</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <input type="hidden" name="BookOrderId" id="BookOrderId" value="@Model.BookOrderId">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">学校</label>
                            <div class="col-sm-4">
                                    <select class="form-control inline" style="width:150px;" name="UniversityId" id="UniversityId">
                                        <option value="0">请选择数据源</option>
                                        @if (Model != null && Model.UinversityList != null && Model.UinversityList.Count > 0)
                                        {
                                            foreach (var item in Model.UinversityList)
                                            {
                                                <option value="@item.UniversityId">@item.Name</option>
                                            }
                                        }
                                    </select>
                            </div>
                            <label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图书ISBN</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入图书ISBN" maxlength="100" name="Isbn" id="Isbn" value="@(Model.Isbn??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">学生账户</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入学生账户" maxlength="100" name="Account" id="Account" value="@(Model.Account??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">借书数量</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" placeholder="请输入学生账户" maxlength="100" name="Count" id="Count" value="@(Model.Count)">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button id="btnSave" class="btn btn-primary" type="button">保存内容</button>
                                <a class="btn btn-white" href="javascript:history.go(-1);">取消</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="@("/Scripts/plugins/fileinput/fileinput.js"+LibrarySystem.Admin.Versions.Ver)"></script>
    <script src="@("/Scripts/plugins/fileinput/zh.js"+LibrarySystem.Admin.Versions.Ver)"></script>
    <script src="@("/Scripts/ViewJs/BookOrder/bookOrderEdit.js"+LibrarySystem.Admin.Versions.Ver)"></script>
}

