@{
    ViewBag.Title = "求书人地址编辑";
}
@using LibrarySystem.Domain;
@model LibrarySystem.Admin.Models.ResearchAsideBookVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        地址编辑 <small>添加、修改</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form id="from" class="form-horizontal">
                        <input type="hidden" class="form-control" name="ResearchAsideBookId" id="ResearchAsideBookId" value="@Model.ResearchAsideBookId">
                        <input type="hidden" class="form-control" name="ResearchStatus" id="ResearchStatus" value="@Model.ResearchStatus">
                        <input type="hidden" class="form-control" name="SysAccountId" id="SysAccountId" value="@Model.SysAccountId">
                        <input type="hidden" class="form-control" name="ShareSysAccountId" id="ShareSysAccountId" value="@Model.ShareSysAccountId">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">电子邮箱</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入电子邮箱" maxlength="100" name="Email" id="Email" value="@(Model.Email??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系方式</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入联系方式" maxlength="100" name="MobilePhone" id="MobilePhone" value="@(Model.MobilePhone??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">运书方式</label>
                            <div class="col-sm-4">
                                @if (Model.ResearchStatus == (int)EnumHelp.ResearchStatus.找到书源 || Model.ShareSysAccountId > 0)//出书人
                                {
                            <select class="form-control inline" style="width:60%;" onchange="shareSelectChange()" name="ShareTrafficType" id="ShareTrafficType">
                                <option value="0">请选择运书方式</option>
                                @foreach (int myCode in Enum.GetValues(typeof(EnumHelp.ResearchTrafficType)))
                                        {
                                            string strName = Enum.GetName(typeof(EnumHelp.ResearchTrafficType), myCode);//获取名称
                                            string strVaule = myCode.ToString();//获取值
   
                                            if (Model.TrafficType == int.Parse(strVaule))
                                            {
                                        <option value="@strVaule" selected="selected">@strName</option>
                                            }
                                            else
                                            {
                                        <option value="@strVaule">@strName</option>
                                            }
                                        }
                            </select>
                                }
                                else//求书人
                                {
                            <select class="form-control inline" style="width:60%;" onchange="selectChange()" name="TrafficType" id="TrafficType">
                                <option value="0">请选择运书方式</option>
                                @foreach (int myCode in Enum.GetValues(typeof(EnumHelp.TrafficType)))
                                        {
                                            string strName = Enum.GetName(typeof(EnumHelp.TrafficType), myCode);//获取名称
                                            string strVaule = myCode.ToString();//获取值
                                            if (int.Parse(strVaule) != (int)EnumHelp.TrafficType.顺路送书)
                                            {
                                                if (Model.TrafficType == int.Parse(strVaule))
                                                {
                                        <option value="@strVaule" selected="selected">@strName</option>
                                                }
                                                else
                                                {
                                        <option value="@strVaule">@strName</option>
                                                }
                                            }
                                        }
                            </select>
                                }

                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group traffic-address" style="display:none;">
                            <label class="col-sm-2 control-label">联系地址</label>
                            <div class="col-sm-4">
                                <textarea placeholder="请输入联系地址。如：广州市天河区中山大道西293号 广东技术师范大学 学生宿舍A栋101室" id="Address" name="Address" cols="50" rows="5" style="overflow:hidden">@Model.Address</textarea>
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed traffic-address" style="display:none;"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button id="btnSave" class="btn btn-primary" type="button">保存内容</button>
                                <a class="btn btn-white" href="javascript:history.go(-1);">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="@("/Scripts/plugins/fileinput/fileinput.js"+LibrarySystem.Admin.Versions.Ver)"></script>
    <script src="@("/Scripts/plugins/fileinput/zh.js"+LibrarySystem.Admin.Versions.Ver)"></script>
    <script src="@("/Scripts/ViewJs/ResearchAsideBook/EditCustomerInfo.js"+LibrarySystem.Admin.Versions.Ver)"></script>
    <script type="text/javascript">
        function shareSelectChange() {//出书人
            var ShareTrafficType = $('#ShareTrafficType option:selected');
            switch (parseInt(ShareTrafficType.val())) {
                // 自行送至漂流书屋 = 1,
                //工作人员上门取书 = 2
                case 1:
                    $(".traffic-address").css("display", "none");
                    break;
                case 2:
                    $(".traffic-address").css("display", "block");
                    break;
                default:
                    $(".traffic-address").css("display", "none");
            }
        }
        function selectChange() {//求书人
            var TrafficType = $('#TrafficType option:selected');
            switch (parseInt(TrafficType.val())) {
                //自取 = 1,
                //邮寄 = 2,
                //顺路送书 = 3
                case 1:
                    $(".traffic-address").css("display", "none");
                    break;
                case 2:
                    $(".traffic-address").css("display", "block");
                    break;
                default:
                    $(".traffic-address").css("display", "none");
            }
        }    
    </script>
}


