@{
    ViewBag.Title = "数据更新";
}
@model LibrarySystem.Admin.Models.ViewConfigVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        数据源更新 <small>配置、启动</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <input type="hidden" name="ViewConfigId" id="ViewConfigId" value="@Model.ViewConfigId">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">数据源</label>
                            <div class="col-sm-4">
                                <select class="form-control inline" style="width:70%;"  name="UniversityId" id="UniversityId">
                                    <option value="0">请选择数据源</option>
                                    @if (Model != null && Model.UinversityList != null && Model.UinversityList.Count > 0)
                                    {
                                        foreach (var item in Model.UinversityList)
                                        {
                                            <option value="@item.UniversityId">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label class="red-line">*</label>
                           
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">更新次数</label>
                            <div class="col-sm-4">
                                <select class="form-control inline" style="width:70%;" name="UpdateCount" id="UpdateCount">
                                    <option value="0">单次更新</option>
                                    <option value="1">自动循环更新</option>
                                </select>
                            </div>
                            <label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">视图名称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入视图名称" maxlength="100" name="ViewName" id="ViewName" value="@(Model.ViewName??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图书名称字段</label>
                            <div class="col-sm-4">         
                                <input type="text" class="form-control" placeholder="请输入图书名称字段" maxlength="100" name="Title" id="Title" value="@(Model.Title??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图书ISBN字段</label>
                            <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="请输入图书ISBN字段" maxlength="100" name="Isbn" id="Isbn" value="@(Model.Isbn ?? "")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图书类别字段</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入图书类别字段" maxlength="100" name="Category" id="Category" value="@(Model.Category??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">作者字段</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入作者字段" maxlength="100" name="Author" id="Author" value="@(Model.Author??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">出版时间字段</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入出版时间字段" maxlength="100" name="PublicDate" id="PublicDate" value="@(Model.PublicDate??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图书数量字段</label>
                            <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="请输入图书数量字段" maxlength="100" name="Count" id="Count" value="@(Model.Count??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">可预借数量字段</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入可预借数量字段" maxlength="100" name="Available" id="Available" value="@(Model.Available??"")">
                            </div><label class="red-line">*</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">

                                <button id="btnSaveOnly" class="btn btn-primary" type="button">保存视图</button>
                                <button id="btnStart" class="btn btn-primary" type="button">启动更新</button>
                                <button id="btnSave" class="btn btn-primary" type="button">保存视图信息并启动更新</button>
                                @*<a class="btn btn-white" href="javascript:history.go(-1);">取消</a>*@
                            </div>
                        </div>
                    </form>
                    <div class="btn-group">
                        <a href="/University/UpdateStart" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="@("/Scripts/plugins/fileinput/fileinput.js"+LibrarySystem.Admin.Versions.Ver)"></script>
    <script src="@("/Scripts/plugins/fileinput/zh.js"+LibrarySystem.Admin.Versions.Ver)"></script>
    <script src="@("/Scripts/ViewJs/University/ViewConfigEdit.js"+LibrarySystem.Admin.Versions.Ver)"></script>
}
